<div class="table-cont">






<table class="table table-light">
  <thead>
    <tr>
        <h1>GPA Calculator</h1>
    </tr>
    <tr>
      
      <th scope="col">UNITS</th>
      <th scope="col">GRADES</th>
    </tr>
  </thead>
  <form>
  <tbody id="tabbody">
    <tr class='data'>
    <td class="units"><input type="text" class="uni"></input></td>
    <td class="grade"><input type="text" class="gra"></input></td>
    </tr>
  </tbody>
  
    </form>
</table>


<div id="gpa">

</div>

<div class="btn-cont">
    <button type="button" class="btn btn-outline-secondary" id="addrow">Add Row</button>
    <button type="button" class="btn btn-outline-secondary" id="compute">Compute GPA</button>
    <button type="button" class="btn btn-outline-danger" id="reset">Reset</button>
</div>

</div>
